$headingColor :#595940;
$gridColor: #333330;
$baseColor: black;
$mainHeadingFont:'Playfair Display', serif;
$subHeadingFont : 'Francois One', sans-serif;
$baseFont: 'Anonymous Pro', monospace;
////Base styling///
html{
    font-size:62.5%;
}
h1, h4, body, ul, li, p, div{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    background: linear-gradient(-45deg, #22c1c3, #fdbb2d, #00b09b, #96c93d);
	background-size: 600% 600%;
	-webkit-animation:  AnimationName 30s ease infinite;
	-moz-animation:     AnimationName 30s ease infinite;
	animation:          AnimationName 30s ease infinite;

}
@-webkit-keyframes AnimationName {
	0%{background-position:0% 52%}
	50%{background-position:100% 49%}
	100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
	0%{background-position:0% 52%}
	50%{background-position:100% 49%}
	100%{background-position:0% 52%}
}
@keyframes AnimationName { 
	0%{background-position:0% 52%}
	50%{background-position:100% 49%}
	100%{background-position:0% 52%}
}

img{
    max-width:100%;
    height:auto;
    border:0;
    display:block;
    width:100%;
}

a{
    text-decoration: none;
    color:$baseColor;
    font-size:2.2rem;
    font-family: $subHeadingFont;
}
.wrapper{
    max-width: 1280px;
    margin:0 auto;
    width:60%;
}
h1{
    font-size: 10rem;
    font-weight: 400;
    text-transform:lowercase;
    margin:0;
    color: $headingColor;
    font-family: $mainHeadingFont;
    text-shadow: -9px 1px 2px #b4a6a6;

}
h2{
    font-size:4.8rem;
    font-style: italic;
    line-height: 58px;
    letter-spacing: 2.6px;
    font-family:$subHeadingFont;
    color:$headingColor;
    text-shadow: -5px 0.4px 0px #b4a6a6;
    
}

p, li{
    font-size:2.3rem;
    line-height: 28px;
    letter-spacing: 1px;
    font-family:$baseFont;
    color:$baseColor;
    
}
li{
    color:$gridColor;
}


// .proceedToResults a,
// .ruleBook a
// .next a,
// .resetButton a{
//     // font-size:2.24rem;
//     text-align: center;
//     line-height: 41.6px;
   
//     // text-transform:uppercase;
//     // font-family: $baseFont;
//     // font-style: italic;
//     padding: 10px 20px;   
//     background: red; 
// }
