@import "setup";
@import "base";


.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
	&:focus {
		left: 10px;
	}
}
header {
	position: relative;
	height:100vh;
	width:100%;
	background-size: cover;
}
.logo{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 3%;
	left:47%;
	img{
		width:83px;
	}
}
.headerWrapper{
	width:90%;
	margin:0 auto;
	display: flex;
	.leftSideHeader{
		width:50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		padding-top:15%;
		span{
			display: block;
		}
		.button{
			margin-top:7%;
			
		}
	}
	
	.rightSideHeader{
		width:50%;
		.headerImage{
			padding-top: 4rem;
		
		}
	}
}
.headerLinks{
	display: flex;
	justify-content: space-between;
	
}
main .button{
	margin-top:3%;
}
.display {
	background : rgba(255, 255, 255, 0.2);
	.questionContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin:7% 0;
		padding:10%;
		// position: relative;	
	}
}
.questionImage{
    width:250px;
    height:250px;
}

.optionsList{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap:20px;
	.listItem{
		width:150px;
		display: flex;
		justify-content: center;
		align-items: center;
		height:60px;
		border-radius: 8px;
		cursor: pointer;
		text-align: center;
		box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
		&:hover{
			background: rgba(0, 0, 0, 0.2);
		}
	}
}
li.userPick{
		background: rgba(0, 0, 0, 0.2);
	}
	.incorrectUserPick{
		border:2px solid crimson;
	}
	.correctUserPick{
		border:2px solid rgb(0, 95, 0);
	}
	.actualCorrectAnswers{
		border:3px dotted green;
	}











@import "queries";
