@import "setup";
@import "base";


.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}
.skipLink:focus {
    left: 10px;
}
header {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2),rgba(100, 100, 100, 0));
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	display: flex;
}
.flexHeaderContainer {
	margin: auto;
}
.display {
	background:white;
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: 95% 90%;
}
.questionContainer {
	background: rgba(184, 204, 210, 0.3);
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	margin: 30px auto;
	padding: 30px;
	width: 70%;
}
.questionContainer p {
	border-bottom: 2px solid lime;
	font-size: 2.5rem;
	letter-spacing: 5px;
	margin: 20px 7px 10px 7px;
	padding:20px;
	text-transform: uppercase;
}
ul {
	margin: 0;
	padding: 10px 20px;
}
#resultPage {
	background: rgba(78,158,107,0.2);
	font-size: 2rem;
	height: 100vh;
	text-transform: uppercase;
}
.results {
	font-size: 3rem;
	font-weight: bold;
	margin-top: -40px;
	text-transform: none;
}







@import "queries";
